body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.navbar {
  background: #0a9396;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.page {
  padding: 20px;
}
.search, .form input {
  padding: 8px;
  margin: 5px;
}

.form {
  margin: 15px 0;
}

button {
  padding: 8px 14px;
  background: #0a9396;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
